* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    text-align: center;
}


h1 {
    font-size: 60px;
    color: #00ff88;
    text-shadow: 0 0 20px #00ff88;
}


.subtitle {
    margin-top: 10px;
    color: #cbd5e1;
    font-size: 20px;
}


.upload-box {

    margin-top: 40px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);

    padding: 40px;

    width: 400px;

    border-radius: 25px;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow: 0 0 30px rgba(0,0,0,0.3);

    transition: 0.3s;
}


.upload-box:hover {
    transform: translateY(-8px);
}


.icon {
    font-size: 60px;
}


h2 {
    margin: 20px 0 10px;
}


input {
    margin-top: 20px;
}


button {

    margin-top: 25px;

    padding: 14px 40px;

    border: none;

    border-radius: 30px;

    background: #00ff88;

    color: black;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

}


button:hover {

    transform: scale(1.1);

    box-shadow: 0 0 20px #00ff88;

}


.footer {

    margin-top: 40px;

    color: #94a3b8;

}
